@font-face {
  font-family: 'Museo Slab -500', sans-serif;
  src: url("../fonts/MuseoSlab.eot");
  src: url("../fonts/MuseoSlab.woff") format("woff"), url("../fonts/MuseoSlab.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

.title {
  font-size: 18px;
  color: #7c7c7c;
  font-family: "Roboto Slab";
  text-align: center;
  padding-bottom: 19px;
}

.subtitle {
  color: #494949;
  font-family: "Roboto Slab";
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  margin: 0 auto;
  text-align: center;
}

.subtitle::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 2px;
  background-color: #2eb0ec;
  margin-top: 25px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

@media screen and (max-width: 1124px) {
  .container {
    padding: 0 40px;
  }
}

.headerphones {
  position: absolute;
  -webkit-transform: translateX(-65%);
          transform: translateX(-65%);
  z-index: 1;
}

.earphones {
  position: absolute;
  right: -40px;
  top: 420px;
  z-index: 2;
}

.pencils {
  position: absolute;
  top: 800px;
  z-index: 20;
}

.pencils img {
  pointer-events: none;
}

body.fixed {
  overflow-y: hidden;
}

.header__inner {
  position: relative;
  background-color: #42a8f6;
  overflow: hidden;
}

.header-burgerMenu {
  background-color: rgba(0, 123, 218, 0.7);
  padding: 20px 10px;
  border-radius: 10px;
  cursor: pointer;
  display: none;
  z-index: 15;
}

.header-burgerMenu__line {
  position: relative;
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-burgerMenu__line::after, .header-burgerMenu__line::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 3px;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-burgerMenu__line::before {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.header-burgerMenu__line::after {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.header-burgerMenu__line.activeBurger {
  background-color: transparent;
}

.header-burgerMenu__line.activeBurger::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header-burgerMenu__line.activeBurger::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #42a8f6;
  padding-top: 43px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-bottom: 35px;
}

.header-navbar__logo {
  position: relative;
  z-index: 12;
  cursor: pointer;
}

.header-navbar__menu {
  color: #fff;
  text-transform: uppercase;
  font-family: "Raleway - Semi Bold";
}

.header-navbar__link {
  position: relative;
  color: #fff;
  margin-left: 35px;
  font-size: 17px;
  line-height: 60px;
  z-index: 3;
}

.header-navbar__button {
  position: relative;
  border: none;
  outline: none;
  background-color: #479ee1;
  opacity: 0.8;
  color: #fff;
  margin-left: 35px;
  padding: 18px 30px;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
  z-index: 3;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 123px;
  margin-bottom: -5px;
}

.header-content-right {
  position: relative;
  text-align: right;
}

.header-content-left {
  max-width: 500px;
}

.header-content__title {
  position: relative;
  text-transform: uppercase;
  color: #fff;
  font-size: 40px;
  line-height: 28px;
  font-family: 'Museo Slab -500', sans-serif;
  font-weight: 700;
  z-index: 3;
}

.header-content__title span {
  margin-right: 22px;
}

.header-content__subtitle {
  position: relative;
  color: #fefefe;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 500;
  line-height: 40px;
  margin-top: 22px;
  z-index: 3;
}

.header-content-buttons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 70px;
  margin-bottom: 20px;
  z-index: 3;
}

.header-content-buttons__button {
  width: 240px;
  height: 80px;
  border: none;
  border-radius: 10px;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.header-content-buttons__button img {
  margin-right: 20px;
}

.header-content-buttons__button:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 8px 11px rgba(54, 54, 54, 0.15);
          box-shadow: 0 8px 11px rgba(54, 54, 54, 0.15);
  color: #3e3e3e;
  background-color: #ffffff;
}

.header-content-buttons__button:nth-child(2) {
  color: #fff;
  background-color: #4894ce;
}

.header__place {
  position: absolute;
  top: 109px;
  left: 31px;
  z-index: 2;
}

.header__mockup {
  z-index: 2;
}

.header-ellipse {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -45%);
          transform: translate(-50%, -45%);
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 50%;
  z-index: 1;
}

.header-ellipse__1 {
  width: 628px;
  height: 621px;
}

.header-ellipse__2 {
  width: 956px;
  height: 956px;
}

.header-ellipse__3 {
  width: 1313px;
  height: 1313px;
}

.header-ellipse__4 {
  width: 1732px;
  height: 1732px;
}

@media screen and (max-width: 1324px) {
  .earphones {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .header-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 50px;
  }
  .header-content-right {
    top: 20px;
    display: none;
  }
  .header-content-buttons {
    margin-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
  }
  .header-content-buttons__button {
    margin-bottom: 15px;
  }
  .header-navbar__menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 14;
    top: 0;
    left: 0;
    background-color: rgba(66, 168, 246, 0.9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: scaleX(0) translateX(400px);
            transform: scaleX(0) translateX(400px);
    -webkit-transform-origin: right center;
            transform-origin: right center;
    -webkit-transition: 0.6s ease-out;
    transition: 0.6s ease-out;
  }
  .header-navbar__menu a {
    font-size: 20px;
  }
  .header-navbar__menu.activeMenu {
    -webkit-transform: scaleX(1) translateX(0px);
            transform: scaleX(1) translateX(0px);
  }
  .header-burgerMenu {
    display: block;
  }
  .pencils {
    display: none;
  }
}

@media screen and (max-width: 516px) {
  .header-content {
    padding-top: 50px;
  }
  .header-content__title {
    font-size: 22px;
  }
  .header-content__subtitle {
    font-size: 20px;
  }
}

.services-inner {
  text-align: center;
  padding-top: 90px;
  background-color: #f3f9fa;
}

.services__title {
  font-size: 18px;
  color: #7c7c7c;
  font-family: "Roboto Slab";
  padding-bottom: 19px;
}

.services__subtitle {
  color: #494949;
  font-family: "Roboto Slab";
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  margin: 0 auto;
}

.services__subtitle::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 2px;
  background-color: #2eb0ec;
  margin-top: 25px;
}

.services-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 109px;
  padding-bottom: 100px;
}

.services-box__item {
  margin-right: 10px;
}

.services-box__img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 105px;
  height: 105px;
}

.services-box__title {
  color: #494949;
  padding-bottom: 32px;
  padding-top: 45px;
  font-family: Raleway;
  font-weight: 700;
  font-weight: 700;
}

.services-box__subtitle {
  color: #7c7c7c;
  font-family: Raleway;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  font-weight: 500;
  max-width: 300px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .services-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 30px;
  }
  .services-box__item {
    margin-top: 20px;
  }
  .services-box__title {
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .services-box__subtitle {
    max-width: 400px;
  }
}

.other-services-inner {
  padding-top: 54px;
}

.other-services__title {
  padding-bottom: 19px;
}

.other-services-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 133px;
}

.other-services-box__item {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 112px;
}

.other-services-box__img {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.other-services-box__content {
  max-width: 250px;
  margin-left: 20px;
}

.other-services-box__title {
  color: #494949;
  font-size: 18px;
  font-weight: 400;
  font-family: "Raleway - Semi Bold";
  font-weight: 600;
  padding-bottom: 24px;
}

.other-services-box__subtitle {
  color: #7c7c7c;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
}

@media screen and (max-width: 768px) {
  .other-services-box__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media screen and (max-width: 516px) {
  .other-services-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .other-services-box__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.comments {
  background-color: #f3f9fa;
}

.comments-inner {
  background-image: url("../img/comments/pattern.png");
  padding: 50px 0;
  padding-bottom: 150px;
}

.comments-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 101px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.comments-box__item {
  padding: 0 70px;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0 0 51px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 51px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.comments-box__item-active {
  position: relative;
  z-index: 6;
  opacity: 1;
  -webkit-transform: scale(1) translateX(0) !important;
          transform: scale(1) translateX(0) !important;
}

.comments-box__item-nonactive {
  position: absolute;
  z-index: 2;
  -webkit-box-shadow: 0 0 38px rgba(0, 0, 0, 0.11);
          box-shadow: 0 0 38px rgba(0, 0, 0, 0.11);
  opacity: 0.5;
  -webkit-transform: scale(0.9) translateX(100px);
          transform: scale(0.9) translateX(100px);
}

.comments-box__img {
  margin: -50px auto;
}

.comments-box__name {
  color: #7c7c7c;
  font-family: Raleway;
  font-weight: 700;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin-top: 50px;
  margin-bottom: 0;
}

.comments-box__surname {
  color: #7c7c7c;
  font-family: Raleway;
  font-weight: 700;
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
}

.comments-box__desc {
  max-width: 600px;
  color: #7c7c7c;
  font-family: Raleway;
  font-weight: 700;
  font-size: 18px;
  margin-top: 46px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 100px;
}

.comments-buttons {
  text-align: center;
  padding-top: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.comments-buttons__left, .comments-buttons__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #494949;
  font-family: Raleway;
  font-weight: 700;
  margin-right: 30px;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.comments-buttons__left img, .comments-buttons__right img {
  margin: 13px;
}

.comments-buttons__left:hover, .comments-buttons__right:hover {
  color: #7c7c7c;
  opacity: 0.5;
}

.comments-buttons__left img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
  .comments-box {
    margin: 10px;
  }
  .comments-box__item {
    padding: 0 10px;
  }
}

.resourse-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 150px 0;
}

.resourse-left__overtitle {
  color: #494949;
  font-family: "Raleway - Semi Bold";
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 30px;
  opacity: 0.4;
}

.resourse-left__title {
  color: #494949;
  font-size: 32px;
  font-family: "Raleway - Semi Bold";
  padding-bottom: 26px;
}

.resourse-left__subtitle {
  color: #7c7c7c;
  font-size: 20px;
  font-family: Raleway;
  font-weight: 700;
  line-height: 32px;
  padding-bottom: 30px;
  font-weight: 500;
}

.resourse-left__desc {
  font-size: 14px;
  font-family: Raleway;
  font-weight: 700;
  color: #7c7c7c;
  font-weight: 500;
  max-width: 500px;
  line-height: 26px;
}

@media screen and (max-width: 976px) {
  .resourse-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 150px 0;
  }
  .resourse-right__img {
    width: 100%;
    margin-top: 25px;
  }
}

.price {
  background: url("../img/price/pattern-bg.png") #f4fbfc;
  background-size: cover;
}

.price-inner {
  padding: 50px 0;
}

.price-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding-top: 130px;
}

.price-box__item {
  background-color: #fff;
  margin-right: 10px;
  position: relative;
  -webkit-box-shadow: 0 0 51px rgba(92, 149, 161, 0.33);
          box-shadow: 0 0 51px rgba(92, 149, 161, 0.33);
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  padding: 55px 90px;
  margin: 20px 0;
  margin-right: 45px;
}

.price-box__item:nth-child(2) {
  margin: 0px 0;
  margin-right: 45px;
}

.price-box__bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}

.price-box__img {
  margin-bottom: 50px;
  position: relative;
  z-index: 5;
}

.price-box__title {
  color: #494949;
  font-family: Raleway;
  font-weight: 700;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 11px;
}

.price-box__number {
  position: relative;
  background-image: linear-gradient(34deg, #6af4f9 0%, #2eb0ec 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 80px;
  font-weight: 400;
  font-family: Raleway;
  font-weight: 700;
  margin-bottom: 30px;
}

.price-box__number::after {
  content: "/mo";
  position: absolute;
  bottom: 7px;
  font-size: 22px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(34deg, #6af4f9 0%, #2eb0ec 100%);
}

.price-box__number::before {
  content: "$";
  position: absolute;
  top: 0;
  -webkit-transform: translate(-100%, 100%);
          transform: translate(-100%, 100%);
  font-size: 22px;
  background-image: linear-gradient(34deg, #6af4f9 0%, #2eb0ec 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.price-box__subtitle, .price-box__desc {
  color: #7c7c7c;
  font-size: 16px;
  line-height: 34.83px;
  font-family: Raleway;
  font-weight: 700;
  font-weight: 400;
  font-size: 16px;
}

.price-box__desc {
  color: #bebebe;
  margin-bottom: 51px;
}

.price-box__button {
  -webkit-box-shadow: 0 10px 16px rgba(102, 212, 244, 0.3);
          box-shadow: 0 10px 16px rgba(102, 212, 244, 0.3);
  border-radius: 27px;
  background-color: #66d4f4;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  outline: none;
  width: 164px;
  height: 55px;
  cursor: pointer;
  font-family: Raleway;
  font-weight: 700;
}

@media screen and (max-width: 1230px) {
  .price-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .price-box__item {
    padding: 25px 60px;
    margin: 20px;
  }
  .price-box__item:nth-child(2) {
    margin: 20px;
  }
}

@media screen and (max-width: 392px) {
  .price-box__bg {
    width: 100%;
  }
}

.customization-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.customization-right, .customization-left {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.customization-right__overtitle {
  color: #494949;
  opacity: 0.4;
  font-size: 22px;
  font-family: Raleway;
  font-weight: 700;
  font-weight: 400;
}

.customization-right__title {
  color: #494949;
  font-family: Raleway;
  font-weight: 700;
  font-size: 32px;
  font-weight: 400;
  margin-top: 23px;
}

.customization-right__subtitle {
  color: #7c7c7c;
  font-family: Raleway;
  font-weight: 700;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin-top: 36px;
}

.customization-listing {
  padding-top: 37px;
}

.customization-listing__point {
  color: #7c7c7c;
  font-family: Raleway;
  font-weight: 700;
  margin-top: 25px;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  margin-left: 41px;
  position: relative;
}

.customization-listing__point::after, .customization-listing__point::before {
  content: '';
  position: absolute;
  left: -25px;
  top: 0;
  -webkit-transform: translate(-100%, 70%);
          transform: translate(-100%, 70%);
  width: 12px;
  height: 12px;
  background-color: #66d4f4;
  border-radius: 50%;
}

.customization-listing__point::before {
  background-color: #96dbef;
  opacity: 0.5;
  width: 20px;
  height: 20px;
  top: 10px;
  -webkit-transform: translate(-80%, -30%);
          transform: translate(-80%, -30%);
}

.customization-listing__button {
  margin-top: 50px;
  border: none;
  outline: none;
  padding: 20px 29px;
  -webkit-box-shadow: 0 10px 16px rgba(102, 212, 244, 0.3);
          box-shadow: 0 10px 16px rgba(102, 212, 244, 0.3);
  background-color: #66d4f4;
  border-radius: 25px;
  color: #ffffff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.contacts-inner {
  padding-top: 69px;
  padding-bottom: 109px;
}

.contacts-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding-top: 67px;
  max-width: 370px;
}

.contacts-form input[type="text"], .contacts-form input[type="email"] {
  max-width: 265px;
  height: 85px;
  padding-left: 115px;
  border-radius: 38px;
  border: none;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.09);
  margin-top: 26px;
  color: #7c7c7c;
  font-family: Raleway;
  font-weight: 700;
  font-size: 14px;
  font-weight: 700;
}

.contacts-form__name {
  -webkit-box-shadow: 0 8px 16px rgba(92, 149, 161, 0.07);
          box-shadow: 0 8px 16px rgba(92, 149, 161, 0.07);
  border: 1px solid rgba(0, 0, 0, 0.03);
  background-color: #ffffff;
}

.contacts-form__email {
  background-color: #f5fafa;
  color: #505050;
  opacity: 0.35;
}

.contacts-form__button {
  background-color: #66d4f4;
  border: none;
  color: #ffffff;
  font-family: Raleway;
  font-weight: 700;
  max-width: 327px;
  height: 85px;
  text-transform: uppercase;
  border-radius: 38px;
  margin-top: 26px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .contacts-form input {
    margin: 10px;
  }
  .contacts-form__button {
    padding: 0;
    max-width: 327px;
    height: 85px;
  }
  .contacts-form input[type="text"], .contacts-form input[type="email"] {
    padding-left: 60px;
  }
}

.footer-container {
  padding: 53px 0;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}

.footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px;
}

.footer-link__title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-link__title-box i {
  display: none;
}

.footer-link__logo {
  margin-top: 10px;
}

.footer-link__desc {
  max-width: 230px;
  margin-top: 20px;
  color: #7c7c7c;
  font-size: 14px;
  font-family: Raleway;
  font-weight: 700;
  font-weight: 400;
}

.footer-link-social {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-link-social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  color: #fff;
}

.footer-link-social a:nth-child(1) {
  background-color: #3b5998;
}

.footer-link-social a:nth-child(2) {
  background-color: #db4a39;
}

.footer-link-social a:nth-child(3) {
  background-color: #00acee;
}

.footer-link__title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 20px;
  color: #494949;
}

.footer-link-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}

.footer-link-nav__item {
  color: #7c7c7c;
  margin-bottom: 15px;
  font-family: Raleway;
  font-weight: 700;
  font-weight: 400;
  -ms-flex-item-align: cenetr;
      -ms-grid-row-align: cenetr;
      align-self: cenetr;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer-link-nav__item:hover {
  font-family: Raleway;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .footer-link:nth-child(1) {
    display: none;
  }
}

@media screen and (max-width: 561px) {
  .footer-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-link__title-box {
    padding: 20px;
    margin: 10px 0;
    -webkit-box-shadow: 0 2px 15px rgba(128, 119, 218, 0.5);
            box-shadow: 0 2px 15px rgba(128, 119, 218, 0.5);
    cursor: pointer;
  }
  .footer-link__title-box i {
    display: block;
  }
  .footer-link-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 15px rgba(128, 119, 218, 0.5);
            box-shadow: 0 2px 15px rgba(128, 119, 218, 0.5);
  }
  .nav-wrapper {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */