@font-face {
    font-family: 'Poppins Extra Light';
    src: url('../fontsfamily/Poppins-ExtraLight.eot');
    src: url('../fontsfamily/Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fontsfamily/Poppins-ExtraLight.woff') format('woff'),
    url('../fontsfamily/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@mixin poppinsR {
    font-family: 'Poppins Extra Light',sans-serif;
    font-weight: 400;
}
@mixin poppinsB {
    font-family: 'Poppins Extra Light',sans-serif;
    font-weight: 600;
    }