@font-face {
  font-family: "Montserrat-Regular";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Medium";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Light";
  font-display: swap;
  src: url("../fonts/Montserrat-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-SemiBold";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

button,
input,
textarea {
  display: block;
  background-color: transparent;
  font: inherit;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

body {
  font-family: 'Montserrat-Light', sans-serif;
  overflow-x: hidden;
}

.primary-button {
  padding: 20px 80px;
  text-transform: uppercase;
  font-size: 20px;
  background: -o-radial-gradient(-3.76% 0%, 103.76% 597.64%, #F5C23A 0%, #FF69AB 100%);
  background: radial-gradient(103.76% 597.64% at -3.76% 0%, #F5C23A 0%, #FF69AB 100%);
  color: #fff;
  border-radius: 35px;
  font-family: 'Montserrat-Bold', sans-serif;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.mobile {
  display: none;
}

.about {
  position: relative;
  background: rgba(234, 235, 229, 0.54);
  overflow: hidden;
}

.about-wrapper {
  padding-top: 122px;
  padding-left: 119px;
  padding-bottom: 105px;
}

.about-imgBx {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.about-imgBx img {
  max-width: 100%;
}

.about-item {
  max-width: 800px;
  position: relative;
  z-index: 10;
}

.about-item__title {
  font-size: 48px;
  color: #FF8900;
  padding-bottom: 53px;
  line-height: 58px;
  font-family: 'Montserrat-Medium', sans-serif;
}

.about-item__subtitle {
  font-size: 18px;
  font-family: 'Montserrat-Light', sans-serif;
  line-height: 30px;
  max-width: 590px;
  padding-bottom: 60px;
}

.diet-wrapper {
  padding: 100px 0;
  padding-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.diet-item__title {
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 50px;
  padding-bottom: 45px;
  color: #85C699;
}

.diet-item__subtitle {
  max-width: 610px;
  font-size: 18px;
  line-height: 30px;
}

.diet-lists {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 199px));
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 39px;
}

.diet-lists-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-right: 93px;
  max-width: 300px;
}

.diet-lists-item p {
  padding-top: 39px;
  font-family: 'Montserrat-Regular', sans-serif;
  line-height: 24px;
}

.diet-lists-item:nth-child(2) {
  padding-right: 70px;
}

.diet-lists-imgBx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 110px;
  height: 110px;
  background: -o-radial-gradient(-3.76% 0%, 103.76% 597.64%, #F5C23A 0%, #FF69AB 100%);
  background: radial-gradient(103.76% 597.64% at -3.76% 0%, #F5C23A 0%, #FF69AB 100%);
  border-radius: 50%;
}

/* Landscape tablets and medium desktops */

/* Portrait tablets and small desktops */

/* Portrait phones and smaller */

/* Landscape phones and portrait tablets */

.effects {
  background: -o-linear-gradient(293.29deg, rgba(133, 198, 153, 0.3) 11.64%, rgba(223, 224, 218, 0.3) 81.53%);
  background: linear-gradient(156.71deg, rgba(133, 198, 153, 0.3) 11.64%, rgba(223, 224, 218, 0.3) 81.53%);
  padding-top: 62px;
  position: relative;
  padding-bottom: 156px;
}

.effects__title {
  text-align: center;
  font-size: 35px;
  font-family: 'Montserrat-Regular', sans-serif;
  margin-bottom: 47px;
  position: relative;
  z-index: 12;
}

.effects-wrapper {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 456px));
  grid-gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: relative;
  z-index: 12;
}

.effects-imgBx img {
  position: absolute;
  z-index: 3;
}

.effects-imgBx img:nth-child(1) {
  left: 0;
  top: 100px;
}

.effects-imgBx img:nth-child(2) {
  top: 0;
  right: -255px;
}

.effects-item {
  padding-top: 27px;
  padding-left: 55px;
  padding-right: 26px;
  -webkit-box-shadow: 0px 10px 27px rgba(16, 19, 45, 0.1);
          box-shadow: 0px 10px 27px rgba(16, 19, 45, 0.1);
  background-color: #fff;
  position: relative;
  max-width: 456px;
  border-radius: 20px;
}

.effects-item:nth-child(1) {
  padding-bottom: 53px;
}

.effects-item:nth-child(2) .effects-item__title span {
  background: -o-radial-gradient(-3.76% 0%, 103.76% 597.64%, #7EE683 0%, #7BDED6 100%);
  background: radial-gradient(103.76% 597.64% at -3.76% 0%, #7EE683 0%, #7BDED6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.effects-item__imgBx {
  position: absolute;
  right: -50px;
  bottom: 0;
}

.effects-item__title {
  font-size: 30px;
  font-family: 'Montserrat-Bold', sans-serif;
  margin-bottom: 18px;
}

.effects-item__button {
  margin-top: 50px;
}

.effects-lists {
  margin-top: 40px;
}

.effects-lists__item {
  margin-bottom: 20px;
}

.effects-lists__item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.effects-lists__item-title {
  color: #B4B4B4;
  font-size: 16px;
  font-family: 'Montserrat-Regular', sans-serif;
}

.effects-lists__item-subtitle {
  font-size: 15px;
  color: #10132D;
  font-family: 'Montserrat-Regular', sans-serif;
  margin-top: 10px;
}

.effects-lists__item-results {
  background: -o-radial-gradient(-3.76% 0%, 103.76% 597.64%, #F5C23A 0%, #FF69AB 100%);
  background: radial-gradient(103.76% 597.64% at -3.76% 0%, #F5C23A 0%, #FF69AB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-family: 'Montserrat-Bold', sans-serif;
  margin-left: 5px;
}

.effects-slogans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.effects-slogans__title {
  padding-top: 98px;
  text-align: center;
}

.effects-slogans-lists {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.effects-slogans-lists__second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

.effects-slogans-lists__second .effects-slogansBx:first-child {
  margin-right: 140px;
}

.effects-slogansBx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 47px;
  padding: 25px 0;
  padding-right: 40px;
  position: relative;
  z-index: 999;
}

.effects-slogansBx-img img {
  position: absolute;
  top: 100px;
  z-index: 1;
}

.effects-slogansBx-img img:first-child {
  left: 0;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.effects-slogansBx-img img:last-child {
  right: 0;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.effects-slogansBx div {
  margin-right: 23px;
}

.effects-slogansBx div:first-child {
  width: 164px;
  height: 164px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -o-radial-gradient(-3.76% 0%, 103.76% 597.64%, #F5C23A 0%, #FF69AB 100%);
  background: radial-gradient(103.76% 597.64% at -3.76% 0%, #F5C23A 0%, #FF69AB 100%);
  margin-left: -60px;
  border-radius: 50%;
  position: relative;
  z-index: 12;
}

.effects-slogansBx__title {
  font-size: 16px;
  margin-bottom: 16px;
  color: #000;
  text-transform: uppercase;
  font-family: 'Montserrat-Bold', sans-serif;
}

.effects-slogansBx__subtitle {
  max-width: 400px;
  line-height: 30px;
  font-family: 'Montserrat-Regular', sans-serif;
}

.effects-elements {
  padding: 0 40px;
  padding-top: 170px;
}

.effects-elements__title {
  font-size: 35px;
  text-align: center;
}

.effects-elementsBx {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 317px));
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 30px;
  padding-top: 58px;
}

.effects-elementsBx__item {
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.1);
  padding-top: 60px;
  padding-left: 42px;
  padding-right: 38px;
  padding-bottom: 32px;
  position: relative;
}

.effects-elementsBx__item:last-child .effects-elementsBx__item-title {
  margin-top: 100px;
}

.effects-elementsBx__item-count {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 93px;
  height: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 30px;
  color: #fff;
  border-radius: 50%;
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 600;
  background: -o-radial-gradient(-3.76% 0%, 103.76% 597.64%, #7EE683 0%, #7BDED6 100%);
  background: radial-gradient(103.76% 597.64% at -3.76% 0%, #7EE683 0%, #7BDED6 100%);
}

.effects-elementsBx__item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.effects-elementsBx__item-title {
  margin-top: 70px;
  margin-bottom: 19px;
  font-size: 25px;
  font-family: 'Montserrat-Bold', sans-serif;
}

.effects-elementsBx__item-subtitle {
  line-height: 30px;
  color: #10132D;
  font-size: 16px;
}

.feedback {
  background: -o-linear-gradient(293.29deg, #C3C4BE 11.64%, #ECEDE7 81.55%);
  background: linear-gradient(156.71deg, #C3C4BE 11.64%, #ECEDE7 81.55%);
}

.feedback-wrapper {
  padding-left: 104px;
  padding-top: 100px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback-item {
  position: relative;
  z-index: 12;
}

.feedback-item__form {
  padding: 34px 80px;
  -webkit-box-shadow: 0px 20px 19px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 20px 19px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 600px;
}

.feedback-item__form-priceBx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 45px;
  padding-bottom: 36px;
}

.feedback-item__form-priceBx p {
  font-family: 'Montserrat-Bold', sans-serif;
}

.feedback-item__form-priceBx p:first-child {
  color: #FC5000;
  margin-right: 27px;
  font-size: 40px;
}

.feedback-item__form-priceBx p:last-child {
  color: #BDBDBD;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  font-size: 20px;
}

.feedback-item__form-inputBx {
  margin-top: 14px;
  width: 100%;
}

.feedback-item__form-inputBx select,
.feedback-item__form-inputBx input {
  padding: 14px 25px;
  width: 100%;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #F2F2F2;
  color: rgba(0, 0, 0, 0.48);
  border-radius: 60px;
  font-family: 'Montserrat-Light', sans-serif;
}

.feedback-item__form-button {
  width: 100%;
  text-transform: capitalize;
  font-family: 'Montserrat-Medium', sans-serif;
  margin-top: 23px;
  margin-bottom: 24px;
}

.feedback-item__form-notice {
  max-width: 400px;
  margin-top: 24px;
  color: rgba(0, 0, 0, 0.48);
  line-height: 16px;
  text-align: center;
}

.feedback-imgBx {
  position: relative;
}

.feedback-imgBx img {
  position: relative;
  z-index: 12;
}

.feedback-imgBx::after,
.feedback-imgBx::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
  opacity: 0.3;
}

.feedback-imgBx::after {
  width: 871.43px;
  height: 871.43px;
  border: 124px solid #FFFFFF;
}

.feedback-imgBx::before {
  width: 527.12px;
  height: 527.12px;
  border: 124px solid #FFFFFF;
}

.fq {
  padding-top: 97px;
  padding-bottom: 137px;
  padding-left: 87px;
  background: -o-linear-gradient(293.29deg, rgba(133, 198, 153, 0.3) 11.64%, rgba(223, 224, 218, 0.3) 81.53%);
  background: linear-gradient(156.71deg, rgba(133, 198, 153, 0.3) 11.64%, rgba(223, 224, 218, 0.3) 81.53%);
  font-family: 'Montserrat-Regular', sans-serif;
}

.fq__title {
  margin-bottom: 53px;
  line-height: 58px;
  font-size: 48px;
}

.fq-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fq-itemBx {
  max-width: 1199px;
  margin-right: 20px;
}

.fq-itemBx__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #fff;
  border-radius: 37px;
  margin-bottom: 10px;
  padding: 25px 36px;
  cursor: pointer;
}

.fq-itemBx__item-title {
  font-size: 20px;
  font-family: 'Montserrat-Regular', sans-serif;
}

.header {
  background: url("../images/header/bg.png"), -o-linear-gradient(293.29deg, #C3C4BE 11.64%, #ECEDE7 81.55%);
  background: url("../images/header/bg.png"), linear-gradient(156.71deg, #C3C4BE 11.64%, #ECEDE7 81.55%);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header-wrapper {
  padding-left: 115px;
  padding-top: 11px;
}

.header-nav {
  padding-left: 120px;
}

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: 'Montserrat-Bold', sans-serif;
  color: #fff;
  margin-right: 101px;
}

.header-nav ul li:last-child {
  margin-right: 0;
}

.header-nav ul li a {
  white-space: nowrap;
}

.header-nav-m {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header-nav-m ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10px;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.header-nav-m li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: 'Montserrat-Bold', sans-serif;
  color: #fff;
  margin-right: 101px;
}

.header-nav-m li:last-child {
  margin-right: 0;
}

.header-nav-m li a {
  white-space: nowrap;
}

.header-nav-m__burger-menu {
  width: 35px;
  height: 4px;
  border-radius: 10px;
  background-color: #fff;
}

.header-nav-m__burger-menu::after,
.header-nav-m__burger-menu::before {
  position: absolute;
  content: '';
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  background-color: #fff;
  border-radius: 10px;
}

.header-nav-m__burger-menu::after {
  top: 50%;
}

.header-nav-m__burger-menu::before {
  top: 100%;
}

.header-nav-m-wrapper {
  cursor: pointer;
  position: relative;
  z-index: 12;
  width: 35px;
  height: 25px;
  margin-right: 30px;
  margin-top: 55px;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-content__item {
  position: relative;
  z-index: 999;
}

.header-content__item-title {
  font-size: 72px;
  margin-bottom: 23px;
  max-width: 450px;
  font-family: 'Montserrat-Bold', sans-serif;
  line-height: 81px;
  color: #fff;
}

.header-content__item-subtitle {
  font-size: 30px;
  color: #fff;
  font-family: 'Montserrat-Regular', sans-serif;
  margin-bottom: 39px;
  max-width: 360px;
}

/* Large desktops and laptops */

/* Landscape tablets and medium desktops */

/* Portrait tablets and small desktops */

/* Landscape phones and portrait tablets */

/* Portrait phones and smaller */

/* Iphone 5 */

.howwork-wrapper {
  padding-top: 95px;
  padding-right: 65px;
  padding-bottom: 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.howwork__title {
  font-size: 48px;
  color: #FD759A;
  font-family: 'Montserrat-Regular', sans-serif;
  padding-bottom: 44px;
}

.howwork__subtitle {
  font-size: 18px;
  max-width: 580px;
  padding-bottom: 72px;
  line-height: 30px;
}

.howwork-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  height: 500px;
  margin-right: 100px;
  position: relative;
}

.howwork-circle::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 33px solid #F9F9F9;
  border-radius: 50%;
}

.howwork-circle-imgBx {
  position: relative;
}

.howwork-circle-imgBx::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 218px;
  height: 218px;
  background: -o-radial-gradient(-3.76% 0%, 103.76% 597.64%, #F5C23A 0%, #FF69AB 100%);
  background: radial-gradient(103.76% 597.64% at -3.76% 0%, #F5C23A 0%, #FF69AB 100%);
  z-index: -1;
  border-radius: 50%;
}

.howwork-circle__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 12;
  max-width: 179px;
  text-align: center;
}

.howwork-circle__item:nth-child(1) {
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -25%);
      -ms-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
}

.howwork-circle__item:nth-child(2) {
  top: 30%;
  right: 0;
  -webkit-transform: translateX(40%);
      -ms-transform: translateX(40%);
          transform: translateX(40%);
}

.howwork-circle__item:nth-child(3) {
  right: 0%;
  bottom: -55px;
}

.howwork-circle__item:nth-child(4) {
  left: 0%;
  bottom: -40px;
}

.howwork-circle__item:nth-child(5) {
  top: 30%;
  left: 0;
  -webkit-transform: translateX(-40%);
      -ms-transform: translateX(-40%);
          transform: translateX(-40%);
}

.howwork-circle__item p {
  font-size: 14px;
  font-family: 'Montserrat-Regular', sans-serif;
  margin-top: 20px;
}

.howwork-circle-lists-imgBx {
  width: 103px;
  height: 103px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

/* Portrait phones and smaller */

.products {
  position: relative;
}

.products-wrapper {
  padding-top: 150px;
  padding-right: 91px;
  padding-left: 91px;
  position: relative;
  z-index: 12;
}

.products-imgBx {
  position: absolute;
  left: 0px;
  top: 74px;
  z-index: -1;
}

.products__title {
  font-size: 36px;
  text-align: center;
  max-width: 420px;
  margin: 0 auto;
}

.products__title span {
  color: #3FCBA3;
  font-family: 'Montserrat-Bold', sans-serif;
}

.products-itemBx {
  padding-top: 160px;
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  grid-template-columns: repeat(auto-fit, minmax(249px, 230px));
}

.products-item {
  padding: 16px;
  -webkit-box-shadow: 0px 0px 27px rgba(16, 19, 45, 0.1);
          box-shadow: 0px 0px 27px rgba(16, 19, 45, 0.1);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 505px;
  position: relative;
  z-index: 12;
}

.products-item.keto {
  height: 599px;
  background: -o-radial-gradient(-3.76% 0%, 103.76% 597.64%, #7EE683 0%, #7BDED6 100%);
  background: radial-gradient(103.76% 597.64% at -3.76% 0%, #7EE683 0%, #7BDED6 100%);
}

.products-item.keto p {
  font-size: 22px;
  color: #fff;
  font-family: 'Montserrat-SemiBold', sans-serif;
}

.products-item.keto .products-item__img {
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  padding-top: 54px;
  margin-bottom: 0;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.products-item__img {
  margin-bottom: 51px;
}

.products-item__title {
  max-width: 123px;
  margin-bottom: 13px;
  font-family: 'Montserrat-Regular', sans-serif;
}

.products-item p {
  margin-bottom: 13px;
  line-height: 24px;
  font-family: 'Montserrat-Regular', sans-serif;
}

.recommended {
  position: relative;
}

.recommended-wrapper {
  padding-top: 59px;
  padding-left: 59px;
  padding-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recommended-item__title {
  font-family: 'Montserrat-Medium', sans-serif;
  margin-bottom: 78px;
  font-size: 36px;
  max-width: 366px;
}

.recommended-itemBx {
  font-family: 'Montserrat-Light', sans-serif;
  font-size: 18px;
}

.recommended-itemBx:last-child {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.recommended-itemBx div {
  margin-bottom: 20px;
  max-width: 418px;
}

.recommended-itemBx div span {
  font-family: 'Montserrat-Bold', sans-serif;
}

.recommended-imgBx {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-44%);
      -ms-transform: translateX(-44%);
          transform: translateX(-44%);
}

.services {
  padding-top: 112px;
  padding-bottom: 160px;
}

.services__title {
  font-size: 36px;
  color: #000;
  text-align: center;
}

.services-wrapper {
  text-align: center;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 260px));
  grid-gap: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.services-item {
  text-align: center;
  padding-top: 67px;
}

.services-item__img {
  margin-bottom: 17px;
}

.services-item__title {
  margin-bottom: 12px;
  text-transform: uppercase;
  color: #DF6092;
  font-size: 18px;
}

.services-item__subtitle {
  line-height: 24px;
  font-family: 'Montserrat-Regular', sans-serif;
}

@media (max-width: 1199px) {
  .mobile {
    display: block;
  }

  .about-imgBx {
    top: 30%;
  }

  .about-imgBx img:nth-child(1) {
    display: none;
  }

  .diet-wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-left: 115px;
  }

  .diet-item:nth-child(1) {
    display: none;
  }

  .diet-lists-item {
    margin-top: 20px;
  }

  .effects-slogansBx-img {
    display: none;
  }

  .effects-slogans-lists__second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .effects-slogans-lists__second .effects-slogansBx:first-child {
    margin-right: 0;
    margin-bottom: 80px;
  }

  .feedback-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .feedback-imgBx {
    position: absolute;
    right: 45.1%;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
  }

  .header-wrapper {
    padding-bottom: 80px;
  }

  .header-nav {
    padding-left: 0px;
  }

  .header-nav ul li {
    margin-right: 80px;
  }

  .header-content {
    padding-top: 80px;
  }

  .feedback-imgBx img {
    display: none;
  }

  .howwork-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 0;
  }

  .howwork-item:last-child {
    margin-top: 100px;
  }

  .howwork-circle {
    margin-right: 0;
  }

  .recommended-wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .recommended-item {
    margin-right: 15px;
  }

  .recommended-imgBx {
    display: none;
  }
}

@media (max-width: 991px) {
  .about-wrapper {
    padding-left: 70px;
    padding-right: 40px;
  }

  .about-imgBx {
    display: none;
  }

  .diet-wrapper {
    padding-left: 70px;
    padding-right: 40px;
  }

  .effects-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px;
  }

  .effects-item {
    padding-bottom: 20px;
  }

  .effects-imgBx img {
    position: absolute;
    z-index: 3;
  }

  .effects-imgBx img:nth-child(1) {
    left: 0;
    bottom: 0;
  }

  .effects-imgBx img:nth-child(2) {
    top: 0;
    right: -255px;
  }

  .fq {
    padding-left: 20px;
  }

  .fq__title {
    font-size: 45px;
  }

  .fq-imgBx {
    display: none;
  }

  .header-nav {
    display: none;
  }

  .header-nav-m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header-content {
    padding-top: 20px;
  }

  .products-imgBx {
    display: none;
  }
}

@media (max-width: 767px) {
  .effects-item__imgBx {
    display: none;
  }

  .effects-elementsBx {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .effects-slogans {
    padding: 0 40px;
  }

  .effects-slogansBx {
    padding: 100px 40px 40px 40px;
  }

  .effects-slogansBx div:first-child {
    width: 135px;
    height: 135px;
    position: absolute;
    top: calc( -135px / 2);
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-left: 0;
  }

  .header-content__item-title {
    font-size: 50px;
  }

  .header-content__item-subtitle {
    font-size: 25px;
  }

  .howwork-item:last-child {
    padding-left: 20px;
  }

  .howwork-circle {
    width: 450px;
    height: 450px;
  }

  .howwork-circle__item p {
    margin-top: 10px;
  }

  .recommended-wrapper {
    display: block;
    padding-left: 20px;
  }

  .recommended-item__title {
    font-size: 26px;
    margin-bottom: 50px;
  }
}

@media (max-width: 480px) {
  .primary-button {
    padding: 20px 50px;
    font-size: 18px;
  }

  .about-wrapper {
    padding-left: 30px;
    padding-top: 90px;
  }

  .about-item__title {
    font-size: 40px;
  }

  .diet-wrapper {
    padding-left: 30px;
  }

  .diet-lists {
    grid-template-columns: repeat(auto-fit, minmax(180px, 170px));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .diet-lists-item {
    padding-right: 0;
  }

  .diet-lists-item:nth-child(2) {
    padding-right: 0;
  }

  .effects-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(289px, 456px));
  }

  .effects-item {
    padding-left: 32px;
  }

  .effects-lists__item:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .effects-elementsBx {
    grid-template-columns: repeat(auto-fit, minmax(284px, 317px));
  }

  .effects-slogansBx {
    padding: 100px 20px 40px 20px;
    border-radius: 20px;
  }

  .effects-slogans {
    padding: 0 13px;
  }

  .feedback-wrapper {
    padding-right: 10px;
    padding-left: 10px;
  }

  .feedback-item__form {
    padding: 34px 36px;
  }

  .feedback-item__form-inputBx select,
  .feedback-item__form-inputBx input {
    padding: 14px 16px;
  }

  .howwork__title {
    font-size: 40px;
  }

  .howwork-item:first-child {
    display: none;
  }

  .howwork-item:last-child {
    margin-top: 0;
  }
}