/* Адаптивность */
@media screen and (max-width: 1512px){
    .header{
        background: url('../img/header/bg.png');
    }
    .header-video{
        display: none;
    }
    .blackout-video{
        z-index: 0;
    }
    
}
@media screen and (max-width: 768px){
    .burger{
        display: block;
        position: relative;
    }
    .header-nav{
        display: none;
    }
    .header-navMob{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: -350px;
        opacity: 0;
        top: -50px;
        z-index: 100;
        flex-grow: 1;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
}
    .header-navMob.active{
        right: 30px;
        opacity: 1;
    }
    .header-navMob a{
        margin: 0;
        font-size: 20px;
    }
    .header-content__sign{
        display: none;
    }
    .contacts-box{
        flex-direction: column;
    }
    .contacts iframe{
        max-width: 100%;
    }
}
@media screen and (max-width: 479px) {
    .header-content__title{
        font-size: 43px;
    }
    .header-content__subtitle{
        font-size: 14px;
    }
    .price-box-card{
        padding: 10px 35px;
    }
    .price-box__name{
        margin-top: 60px;
        margin-bottom: 30px;
    }
    .price-box__price{
        font-size: 50px;
        margin-bottom: 15px;
    }
    .price-box__desc{
        margin-bottom: 28px;
    }
    .button-slick{
        display: none !important;
    }
    .feedback {
        padding-bottom: 105px;
    }
    .feedback-item__desc{
        font-size: 14px;
    }
    .header-navbar__logo{
        font-size: 20px;
    }
}