a{
    color: #fff;
    text-decoration: none;
}
a:hover{
    color: #fff;
    text-decoration: none;
}
.primary-button{
    padding: 15px 30px;
    text-transform: uppercase;
    color: #fff;
    background-image: linear-gradient(to right, #3498db 0%, #685dff 51%, #3498db 100%);
    background-size: 200% auto;
    border: none;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
    transition: .4s;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all;
    -o-transition: .4s all;
}
.primary-button:hover{
    /* background: linear-gradient(-160deg,#2193b0 50%, #6dd5ed); */
    background-position: right bottom;
}


.primary-title{
    padding-top: 60px;
    text-align: center;
}
.primary-title h1{
    position: relative;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.primary-title h1::before{
    position: absolute;
    content: '';
    width: 30px;
    height: 2px;
    background-color: #1B9CFC;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.primary-title p{
    padding-top: 10px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 19px;
}

@media screen and (max-width: 479px) {
    .primary-button{
        font-size: 13px;
    }
}