.comments
    background-color: #f3f9fa
    &-inner
        background-image:url('../img/comments/pattern.png')
        height: 50vh
    &__title
        padding-top: 50px
    &-slider
        display: flex
        padding-top: 101px
        &__item
            position: relative
            text-align: center
            background-color: #fff
            margin: 10px 20px
            border: 1px solid rgba(0, 0, 0, 0.08)
            border-radius: 10px
            z-index: 3
            &:nth-child(3)
                position: relative
                z-index: 4
        &__img
            margin: 0 auto
            transform: translateY(-50%)
