.stepSection {
  margin-top: 50px;
}

.stepSection-title {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 115%;
  text-align: center;
  color: #ec2613;
  text-align: center;
  margin-bottom: 50px;
}

.stepWrp {
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.stepWrp:not(:last-of-type) {
  margin-bottom: 50px;
}

.stepWrp:not(:first-of-type) {
  margin-top: 40px;
}

.stepWrp.step2 {
  flex-direction: row-reverse;
}

.step-part1 {
  max-width: 355px;
  margin-right: 10px;
}

.step2 .step-part1 {
  margin-left: 10px;
  margin-right: 0;
}

.step-part1.step3 {
  max-width: 410px;
  margin-right: 0;
}

.step-subtitle {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  opacity: 0.5;
  letter-spacing: 0.03em;
  margin-bottom: 5px;
}

.step-title {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 35px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 10px;
}

.step-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #323232;
}

.step-part2 {
  display: flex;
}

.step-cardWrp {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.step-card {
  background: rgba(56, 255, 24, 0.02);
  border: 2px solid #01c65a;
  border-radius: 5px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  width: 190px;
  margin-right: 5px;
}

.step-card.top {
  height: 59%;
}

.step-card.bottom {
  height: 40%;
}

.step-card.secondStep {
  height: 100%;
  max-width: 180px;
  max-height: 226px;
  margin-right: 5px;
  padding: 0 10px;
}

.card-text {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #323232;
}

.regStep .step-img {
  max-width: 190px;
}

.step-img {
  height: 100%;
}

.stepSection_formContainerImg {
  width: 190px;
}

.deposit-card * {
  font-family: Open Sans;
}

.regStep,
.depStep {
  position: relative;
}

.regStep::before {
  content: '';
  display: block;
  position: absolute;
  width: 40px;
  height: 29px;
  background: center url(../images/formVector.png) no-repeat;
  background-size: cover;
  top: 39%;
  left: -25px;
  animation: bounce 1600ms infinite;
}

.regStep::after {
  content: '';
  display: block;
  position: absolute;
  width: 40px;
  height: 29px;
  background: center url(../images/formVector.png) no-repeat;
  background-size: cover;
  top: 61%;
  left: -25px;
  animation: bounce 1600ms infinite;
}

.depStep::before {
  content: '';
  display: block;
  position: absolute;
  width: 40px;
  height: 29px;
  background: center url(../images/formVector.png) no-repeat;
  background-size: cover;
  top: 67%;
  left: -30px;
  z-index: 2;
  animation: bounceDep 1600ms infinite;
}

@keyframes bounce {
  50% {
    left: -35px;
  }
}

@keyframes bounceDep {
  50% {
    left: -40px;
  }
}

.arrowDown {
  text-align: center;
  transform: translateY(-25px);
  animation: arrows 1.5s infinite;
}

@keyframes arrows {
  to {
    transform: translateY(25px);
    opacity: 0;
  }
}

.manager-img {
  margin-left: 30px;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  box-shadow: 0px 10px 50px #0000001a;
}

/*response*/
@media screen and (max-width: 1600px) {
  .stepSection {
    background-size: contain;
  }
}

@media screen and (max-width: 1200px) {
  .stepWrp {
    /* max-width: 640px; */
    margin: 0 auto;
  }

  .card-text {
    font-size: 12px;
    line-height: 16px;
  }

  .dep-img {
    width: 166px;
    height: 170px;
  }

  .part2-img.step3 {
    display: flex;
    justify-content: center;
  }

  .regStep::before {
    width: 40px;
    height: 29px;
    left: -20px;
    top: 38%;
  }

  .regStep::after {
    width: 40px;
    height: 29px;
    left: -20px;
    top: 61%;
  }

  .depStep::before {
    width: 40px;
    height: 29px;
    left: -25px;
    top: 68%;
    z-index: 2;
  }

  @keyframes bounce {
    50% {
      left: -30px;
    }
  }

  @keyframes bounceDep {
    50% {
      left: -30px;
    }
  }

  .manager-img {
    margin-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  .stepSection {
    margin-top: 35px;
  }

  .stepWrp {
    text-align: center;
    flex-direction: column;
  }

  .stepWrp:not(:last-of-type) {
    margin-bottom: 30px;
  }

  .step-part1 {
    max-width: unset;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .step-part1.step3 {
    max-width: unset;
  }

  .stepWrp.step2 {
    flex-direction: column;
  }

  .step2 .step-part1 {
    margin-left: 0;
  }

  .step-subtitle {
    font-size: 12px;
    line-height: 16px;
  }

  .step-title {
    font-size: 24px;
    line-height: 120%;
  }

  .step-text {
    font-size: 16px;
    line-height: 150%;
  }

  .step-card {
    width: unset;
  }

  .card-text {
    text-align: left;
  }

  .regStep {
    height: 270px;
  }

  .stepWrp:not(:first-of-type) {
    margin-top: 20px;
  }

  .step-card.secondStep {
    max-width: unset;
  }

  .stepSection-title {
    max-width: 340px;
    font-size: 40px;
    line-height: 115%;
    margin: 0 auto 25px;
  }

  .manager-img {
    width: 225px;
    height: 225px;
    margin: 10px 0 0;
  }

  .depStep::before {
    top: 68%;
  }

  @keyframes bounce {
    50% {
      left: -25px;
    }
  }

  .arrowDown img {
    width: 100%;
    max-width: 200px;
  }
}

@media screen and (max-width: 460px) {
  .depStep::before {
    top: 65.5%;
  }
}