*,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #222526;
}

body {
	font-family: 'Work Sans';
	overflow-x: hidden;
}

a img {
	display: block;
	width: 100%;
	cursor: pointer;
}

.brandName {
	text-decoration: none;
	color: #1D9BF0;
	font-weight: 700;
}

.underImgText .brandName {
	font-weight: normal;
}


.header {
	width: 100%;
	display: block;
	height: auto;
}

.header__tablet {
	display: none;
}

.header a {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.header__desktop {
	display: block;
	width: 100%;
	max-width: 1110px;
	margin: 0 auto;
	box-sizing: border-box;
}

.header__mob {
	display: none;
}

.mainBG {
	background-color: #ffffff;
}

.main {
	max-width: 1110px;
	margin: 0 auto;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	background-color: #fff;
	padding: 20px;
}

.aside-block {
	max-width: 300px;
	margin-left: 30px;
	width: 100%;
}

.news-block {
	display: flex;
	flex-direction: column;
}

.news-wrp {
	display: flex;
	flex-direction: column;
}

.news-title {
	font-family: 'Rufina';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	padding: 10px 0;
	text-decoration: none;
}

.comment_Img1 {
	box-shadow: 0px 4px 13px #0000001a;
}

.comment_Img2 {
	box-shadow: 0px 4px 13px #0000001a;
}

.news-text {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	text-transform: uppercase;
	color: #222526;
	opacity: 0.5;
	padding: 0 10px 10px;
}

.more-block {
	margin-top: 30px;
}

.more-heroTitle {
	margin-bottom: 10px;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	text-transform: uppercase;
	color: #fff;
	background: #296AAB;
	padding: 5px 10px;
}

.heroSection-underImageText {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	color: #222526;
	margin-top: 10px;
	border-bottom: 1px solid #ADAFB0;
	padding-bottom: 10px;
}

.main-heroTitle.colored {
	color: #e81019;
	margin-bottom: 15px;
}

.more-item {
	display: flex;
	margin-top: 20px;
}

.more-item a img {
	width: unset;
}

.more-inner {
	padding-left: 10px;
}

.more-title {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	line-height: 15px;
	text-transform: uppercase;
	color: #ec2613;
	padding-bottom: 5px;
}

.more-text {
	font-family: 'Work Sans';
	font-weight: 600;
	font-size: 14px;
	line-height: 22px;
	text-decoration: none;
	color: #000000;
}

.more-hr {
	height: 1px;
	margin: 10px 0;
	background: #c4c4c4;
}

.main-article {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.heroSection-breaking {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	color: #ffffff;
	padding: 5px 5px 5px 5px;
	background: #296AAB;
	width: fit-content;
	margin-top: 30px;
	text-transform: uppercase;
}

.heroSection-path {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	margin-top: 10px;
}

.heroSection-title {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	margin-top: 8px;
	border-bottom: 1px solid #ADAFB0;
	padding-bottom: 32px;
}

.heroSection-title--colored {
	color: #296AAB;
	text-transform: uppercase;
}

.heroSection-subtitle {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	margin-top: 10px;
}

.heroSection-author {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	text-decoration-line: underline;
	margin-top: 20px;
}

.heroSection-date {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: #222526;
	margin-top: 10px;
}

.heroSection-date span {
	opacity: 0.5;
}

.heroSection-logosWrp {
	border-top: 1px solid #c4c4c4;
	border-bottom: 1px solid #c4c4c4;
	padding: 20px 0;
	margin: 30px 0;
}

.heroSection-logos {
	width: 112px;
}

.main-heroTitle {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 30px;
	text-transform: uppercase;
	margin-bottom: 14px;
	margin-top: 30px;
}

.main-heroTitle2 {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 35px;
	text-transform: uppercase;
	margin-bottom: 10px;
	margin-top: 0;
}

.main-acentText {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	margin-bottom: 15px;
}

.main-imgWrp {
	display: flex;
	flex-direction: column;
}

.main-underImgText {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	margin: 15px 0 15px;
	padding-bottom: 5px;
	border-bottom: 1px solid #eaeeef;
}

.main-commonText {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #323232;
	margin-bottom: 15px;
}

.main-commonText3 {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #323232;
	margin-bottom: 15px;
}

.main-commonText3Last {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #323232;
	margin-bottom: 10px;
}

.main-commonTextDialog {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #323232;
	margin-bottom: 10px;
}

.main-commonTextDialog2 {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #323232;
	margin-bottom: 10px;
}

.main-commonText2 {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 35px;
	text-transform: uppercase;
	color: #E81019;
}

.main-commonTextJournalist {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 27px;
	color: #323232;
	margin-bottom: 10px;
	margin-top: 1px;
}

.main-commonTextJournalist2 {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 27px;
	color: #323232;
	margin-bottom: 10px;
	margin-top: 1px;
}

.side_photoWrp {
	margin: 20px 0 15px;
	display: flex;
	justify-content: space-between;
}

.side_half1 {
	max-width: 312px;
	width: 100%;
}

.side_img {
	width: 100%;
}

.side_underImageText {
	margin-top: 10px;
	text-align: center;
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	text-align: center;
}

.side_half2 {
	max-width: 398px;
	margin-left: 30px;
}

.quote_textWrp {
	display: flex;
	align-items: flex-start;
	padding: 20px 0;
}

.quote_img {
	margin-right: 10px;
}

.quote_text {
	font-family: 'Open Sans';
	font-weight: 700;
	color: #000000;
	margin-bottom: 0 !important;
}

.undertextImgWrp0 {
	margin: 20px 0 20px;
}

.undertextImgWrp {
	margin: 18px 0 20px;
}

.undertextImgWrp2 {
	margin: 15px 0 29px;
}

.undertextImgWrp3 {
	margin: 20px 0 30px;
}

.undertextImgWrp4 {
	margin: 20px 0 30px;
}

.underImgText {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #323232;
}

.main-acentWrp {
	margin: 15px 0;
}

.main-bgText {
	padding: 15px 20px;
	background: #f3f6f7;
	margin-bottom: 15px;
}

.main-editorWrp {
	background: rgba(58, 121, 187, 0.05);
	border: 2px solid #3a79bb;
	border-radius: 10px;
	padding: 18px;
	margin: 20px 0 10px;
}

.main-editorWrp .main-commonText {
	margin: 0;
}

.editor-title {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 150%;
	color: #B01911;
	margin-bottom: 10px;
}

.editor-text {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 23px;
}

.main-infoBlock--wrp {
	background: #f3f6f7;
	padding: 10px;
	margin-bottom: 15px;
}

.infoBlock-title {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 10px;
}

.infoBlock-inner {
	display: flex;
	justify-content: space-between;
}

.infoBlock-item {
	border: 1px solid #5392d0;
	max-width: 290px;
	width: 48%;
}

.infoBlock-text {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	padding: 10px;
}

.main-reviewCard {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}

.review-title {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
	color: #ffffff;
	background: #5392d0;
	padding: 10px 15px;
}

.review-text {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 23px;
	background: #f3f6f7;
	padding: 15px;
}

.main-btn {
	display: block;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;
	color: #ffffff;
	padding: 25px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	background: #1D9BF0;
	border-radius: 5px;
	max-width: 380px;
	width: 100%;
	margin: 20px auto 30px;
	transition: all 0.3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
	-webkit-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}

.main-btn:hover {
	background: #1D9BF0;
	max-width: 400px;
	padding: 27px;
}

.btnCont {
	position: relative;
}

.btnPulse {
	position: absolute;
	top: 48%;
	left: 50%;
	width: 76px;
	height: 76px;
	border-radius: 50%;
	background: #ffffff;
	opacity: 0.3;
	animation-name: pulse;
	animation-duration: 2000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	z-index: 1;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@keyframes pulse {
	0% {
		width: 76px;
		height: 76px;
	}

	50% {
		width: 0px;
		height: 0px;
	}

	100% {
		width: 76px;
		height: 76px;
	}
}

.main-btn:active {
	background: #0085DF;
}

.main-alert2 {
	background: rgba(232, 16, 25, 0.02);
	border: 2px solid #e81019;
	border-radius: 10px;
	padding: 18px;
	margin-bottom: 30px;
	text-align: center;
}

.main-alert {
	background: rgba(232, 16, 25, 0.02);
	border: 2px solid #e81019;
	border-radius: 10px;
	padding: 18px 20px 20px 18px;
}

.main-alert .main-commonText:last-of-type {
	margin-bottom: 0;
}

.alert-title {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 150%;
	color: #e81019;
	margin-bottom: 10px;
}

.red {
	color: #e81019;
}

.stepSection-subTitle {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 35px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
	margin: 58px auto 28px;
}

.main-topicWrp {
	margin: 30px 0;
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	display: flex;
	align-items: center;
}

.main-topicWrp span {
	color: #222526;
	padding: 10px;
	border: 1px solid #979797;
	margin: 0 5px;
}

.main-topicWrp p {
	margin-right: 5px;
}

.highlightWrp {
	margin-top: 30px;
}

.highlight-heroTitile {
	margin-bottom: 20px;
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 30px;
	text-transform: uppercase;
}

.highlight-outer {
	max-width: 740px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 360px 360px;
	grid-column-gap: 10px;
	row-gap: 10px;
}

.highlight-item {
	border: 1px solid #3a79bb;
}

.highlight-inner {
	padding: 10px;
	background: #f3f6f7;
	min-height: 100px;
}

.highlight-title {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;
	margin-bottom: 10px;
}

.highlight-text {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	opacity: 0.5;
}

.footerWrp {
	background: #222526;
	border-top: 1px solid #c4c4c4;
}

.footer-outer {
	max-width: 1110px;
	margin: 0 auto;
	padding: 30px 0;
	display: flex;
	justify-content: space-between;
}

.footer-inner.part1 {
	width: 320px;
}

.footer-logos {
	max-width: 95px;
	margin-bottom: 30px;
}

.footer-inner.part2 {
	max-width: 760px;
}

.footer-hr {
	margin: 15px 0;
	border: none;
	height: 1px;
	color: #80808C;
	background-color: #80808C;
}

.footer-title {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.03em;
	color: #80808C;
	text-transform: uppercase;
}

.disclaimer-title {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 10px;
	line-height: 12px;
	letter-spacing: 0.03em;
	color: #ffffff;
	margin-bottom: 5px;
}

.disclaimer-title:not(:first-of-type) {
	margin-top: 10px;
}

.disclaimer-text {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 150%;
	color: #ffffff;
}

.bold {
	font-weight: bold;
}

.normal {
	font-weight: normal;
}

.mb-5 {
	margin-bottom: 5px;
}

.mb-6 {
	margin-bottom: 6px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-15 {
	margin-bottom: 15px;
}

@media (min-width: 1920px) {
	.header a {
		display: block;
	}
}

@media all and (max-width: 1200px) {
	.aside-block {
		display: none;
	}

	.main {
		max-width: 780px;
		padding: 20px 14px;
	}

	.highlight-inner {
		min-height: 130px;
	}

	.footer-outer {
		padding: 30px 20px;
	}
}

@media all and (max-width: 1023px) {
	.header a {
		display: block;
	}

	.header__desktop {
		display: none;
	}

	.header__tablet {
		display: block;
		width: 100%;
	}

	.main-alert2 {
		margin-bottom: 33px;

	}

	.footer-outer {
		flex-direction: column;
		max-width: 768px;
		padding: 30px 14px;
	}

	.footer-inner.part1 {
		width: unset;
	}
}

@media all and (max-width: 767px) {
	.header__mob {
		display: block;
		width: 100%;
	}

	.header__tablet {
		display: none;
	}

	.main {
		padding: 15px 10px;
	}

	.heroSection-breaking {
		font-family: 'Work Sans';
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 21px;
		color: #ffffff;
		padding: 5px;
		background: #296AAB;
		width: fit-content;
		margin-top: 15px;
		text-transform: uppercase;
	}

	.heroSection-title {
		font-size: 32px;
		line-height: 38px;
		padding-bottom: 15px;
	}

	.heroSection-logosWrp {
		margin: 15px 0;
	}

	.main-heroTitle {
		margin-top: 15px;
		margin-bottom: 10px;
		font-size: 24px;
		line-height: 120%;
	}

	.main-commonText {
		font-size: 16px;
		line-height: 150%;
		margin-bottom: 10px;
	}

	.main-commonTextDialog {
		font-size: 16px;
		line-height: 150%;
		margin-bottom: 10px;
	}

	.undertextImgWrp0 {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.undertextImgWrp2 {
		margin-top: 5px;
		margin-bottom: 15px;
	}

	.undertextImgWrp {
		margin: 5px 0 8px;
	}

	.underImgText {
		font-size: 12px;
		line-height: 16px;
		letter-spacing: .008px;
	}

	.side_photoWrp {
		margin: 15px 0 5px;
		flex-direction: column;
	}

	.side_half1 {
		max-width: 100%;
		margin: 0 auto;
	}

	.side_img {
		max-width: 180px;
		margin: 0 auto;
	}

	.side_underImageText {
		font-size: 12px;
		line-height: 16px;
		text-align: left;
		margin-bottom: 15px;
	}

	.side_half2 {
		margin-left: 0;
	}

	.quote_textWrp {
		padding: 10px 0;
	}

	.main-heroTitle.colored {
		margin-top: 10px;
	}

	.main-editorWrp {
		margin: 5px 0 0;
	}

	.editor-title {
		font-size: 16px;
		line-height: 150%;
	}

	.main-btn {
		max-width: 100%;
		margin: 10px 0 15px;
	}

	.alert-title {
		font-size: 18px;
		line-height: 150%;
		margin-bottom: 5px;
	}

	.infoBlock-inner {
		flex-direction: column;
	}

	.infoBlock-item {
		width: 100%;
		max-width: unset;
	}

	.infoBlock-item:first-of-type {
		margin-bottom: 20px;
	}

	.stepSection-subTitle {
		margin: 45px 0 30px;
		font-size: 24px;
		line-height: 120%;
	}

	.highlight-heroTitile {
		font-size: 24px;
		line-height: 28px;
	}

	.highlight-title {
		font-size: 18px;
		line-height: 21px;
		margin-bottom: 5px;
	}

	.highlight-text {
		font-size: 14px;
		line-height: 18px;
	}

	.main-topicWrp {
		justify-content: center;
	}

	.highlight-outer {
		grid-template-columns: 1fr;
		row-gap: 20px;
	}

	.highlight-inner {
		min-height: unset;
	}

	.main-commonText2 {
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 0;
	}

	.main-alert2 {
		font-size: 24px;
		padding: 10px;
		text-align: center;
		margin-top: 15px;
	}

	.main-commonTextJournalist {
		margin-top: 0;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 5px;
	}

	.main-commonTextJournalist2 {
		margin-top: 0;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 10px;
	}

	.main-commonTextDialog2 {
		font-size: 16px;
		line-height: 150%;
		margin-bottom: 5px;
	}

	.brandName {
		text-decoration: none;
		color: #1D9BF0;
		font-weight: 700;
	}

	.undertextImgWrp3 {
		margin: 5px 0 15px;
	}

	.main-commonText3 {
		font-size: 16px;
		line-height: 150%;
		margin-bottom: 10px;
	}

	.main-commonText3Last {
		font-size: 16px;
		line-height: 150%;
		margin-bottom: 5px;
	}

	.undertextImgWrp4 {
		margin: 10px 0 15px;
	}

	.main-btn {
		font-size: 20px;
		margin-top: 4px;
	}

	.main-alert {
		padding: 18px 18px;
	}

	.footer-outer {
		padding: 30px 10px;
	}
}