@font-face {
  font-family: 'Poppins Extra Light';
  src: url("../fontsfamily/Poppins-ExtraLight.eot");
  src: url("../fontsfamily/Poppins-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fontsfamily/Poppins-ExtraLight.woff") format("woff"), url("../fontsfamily/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  outline: none;
}

a {
  text-decoration: none;
}

i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body {
  font-family: 'Poppins Extra Light',sans-serif;
  font-weight: 400;
}

button {
  cursor: pointer;
}

.yellow-line {
  display: block;
  width: 100px;
  height: 4px;
  background-color: #ffcc00;
}

.button {
  border: none;
  border-radius: 25px;
  background-color: #ffcc00;
  color: #ba0000;
  padding: 20px 30px;
  font-size: 12px;
  font-family: 'Poppins Extra Light',sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all .5s;
  transition: all .5s;
  border: 1px solid transparent;
}

.button:hover {
  background-color: #fff;
  color: #ba0000;
  border: 1px solid #fff;
}

.button-o {
  border: 1px solid #fff;
  border-radius: 25px;
  background-color: transparent;
  color: #fff;
  padding: 20px 30px;
  font-size: 12px;
  font-family: 'Poppins Extra Light',sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.button-o:hover {
  color: #fff;
  border: 1px solid #ffcc00;
}

::-webkit-input-placeholder {
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

::-ms-input-placeholder {
  color: white;
}

::placeholder {
  color: white;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1170px;
  margin: auto;
  position: relative;
  z-index: 6;
}

@media screen and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
  .navbar-menu {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 548px;
    padding: 0 20px;
  }
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  min-height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-top {
  background-color: #ba0000;
}

.navbar-top__language {
  color: white;
  text-decoration: none;
}

.navbar-top__language::after {
  content: '\f078';
  font-family: "FontAwesome";
  margin-left: 5px;
  letter-spacing: 0.42px;
}

.navbar-top__contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-top__contact-us a {
  color: white;
  font-size: 14px;
  margin-left: 30px;
  font-family: 'Poppins Extra Light',sans-serif;
  font-weight: 600;
}

.navbar-top__item-first::before {
  content: '\f0c0';
  font-family: "FontAwesome";
  margin-right: 5px;
}

.navbar-top__item-second::after {
  content: '\f0c0';
  font-family: "FontAwesome";
  margin-left: 5px;
}

.navbar-wrap-buttons {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__button-search {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 50px;
  background-color: #ba0000;
  border: none;
  border-radius: 50px;
  color: white;
}

.navbar__button-search:hover i {
  color: #ffcc00;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.navbar__input-search {
  position: relative;
  z-index: 2;
  height: 50px;
  width: 200px;
  background-color: #ba0000;
  border: none;
  color: #fff;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 40px;
  margin-right: -40px;
  opacity: 0;
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: scaleX(0) translateX(100%);
          transform: scaleX(0) translateX(100%);
  -webkit-transition: .5s;
  transition: .5s;
}

.navbar__input-search.active1 {
  -webkit-transform: scaleX(1) translateX(0);
          transform: scaleX(1) translateX(0);
  opacity: 1;
}

.navbar-bottom {
  background-color: #ffcc00;
}

.navbar-bottom-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar-menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ba0000;
  margin-left: 50px;
  min-height: 120px;
  border-bottom: 4px solid transparent;
}

.navbar-menu__link:hover {
  border-bottom: 4px solid red;
}

.navbar-burger-menu {
  cursor: pointer;
  display: none;
}

.navbar-burger {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 3px;
  background-color: #ba0000;
}

.navbar-burger::after, .navbar-burger::before {
  position: absolute;
  content: '';
  width: 25px;
  height: 3px;
  background-color: #ba0000;
  -webkit-transition: .5s;
  transition: .5s;
}

.navbar-burger::after {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.navbar-burger::before {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

.navbar-burger.active {
  background-color: #ffcc00;
}

.navbar-burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navbar-burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

a.active {
  border-bottom: 4px solid red;
  font-family: 'Poppins Extra Light',sans-serif;
  font-weight: 600;
}

@media screen and (max-width: 1199px) {
  .navbar-menu {
    display: none;
  }
  .navbar__button-search {
    display: none;
  }
  .navbar-burger-menu {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .navbar-top__contact-us a:first-child {
    display: none;
  }
}

.hero {
  background: url(../img/hero/hero-bg.png) no-repeat center;
  background-size: cover;
  position: relative;
  padding-top: 180px;
  padding-bottom: 180px;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(45deg, #ba0000 0%, rgba(255, 204, 0, 0.01) 99%, rgba(255, 204, 0, 0) 100%);
}

.hero-wrap {
  position: relative;
  z-index: 6;
}

.hero__title {
  color: #ffffff;
  font-size: 70px;
  font-family: 'Poppins Extra Light',sans-serif;
  font-weight: 600;
  letter-spacing: 2.1px;
}

.hero-line {
  display: block;
  width: 100px;
  height: 4px;
  background-color: #ffcc00;
  margin: 40px 0;
}

.hero__subtitle {
  color: #ffcc00;
  font-size: 20px;
  letter-spacing: 0.6px;
  width: 65%;
}

.hero__tags {
  margin-top: 40px;
}

.hero-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: white;
  font-family: 'Poppins Extra Light',sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.hero-tags__tag {
  margin-right: 30px;
}

.hero-tags__circle {
  width: 3px;
  height: 3px;
  background-color: #ffcc00;
  margin-bottom: 4px;
  border-radius: 5px;
}

.hero__buttons {
  margin-top: 40px;
}

.hero__button {
  margin-right: 20px;
}

@media screen and (max-width: 1199px) {
  .hero {
    padding-top: 120px;
  }
  .hero__title {
    font-size: 40px;
  }
  .hero__subtitle {
    width: 90%;
    font-size: 18px;
  }
  .hero-tags {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .hero-tags__tag {
    margin-right: 15px;
  }
}

@media screen and (max-width: 768px) {
  .hero__button {
    margin-top: 10px;
  }
  .hero-tags {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .hero-tags__tag {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 5px;
  }
}

.services-inner {
  padding: 100px 0;
}

.services__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 109px;
  margin-bottom: 80px;
}

.services__title-bg {
  position: absolute;
  color: #f8f8f8;
  font-size: 150px;
  z-index: 0;
  text-transform: uppercase;
  letter-spacing: 4.5px;
  font-family: 'Poppins Extra Light',sans-serif;
  font-weight: 600;
}

.services__title-front {
  position: absolute;
  color: #ba0000;
  font-family: 'Poppins Extra Light',sans-serif;
  font-weight: 600;
  font-size: 50px;
}

.services-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 100px;
}

.services-cards__worldwide {
  background-color: #ba0000;
  max-width: 270px;
  padding: 30px;
}

.services-cards__worldwide-title {
  color: #ffffff;
  font-family: 'Poppins Extra Light',sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.services-cards__worldwide-line {
  width: 70px;
  height: 2px;
  margin: 30px 0;
}

.services-cards__worldwide-subtitle {
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.48px;
}

.services-cards__worldwide-select {
  display: block;
  margin-top: 39px;
  width: 100%;
  min-height: 50px;
  background: transparent;
  color: #ffffff;
  padding: 20px;
}

.services-cards__worldwide-button {
  padding: 21px 50px;
  margin-top: 20px;
}

.services__card-title {
  display: block;
  margin-top: 30px;
  color: #ba0000;
  text-transform: uppercase;
  font-family: 'Poppins Extra Light',sans-serif;
  font-weight: 600;
}

.services__card-subtitle {
  display: block;
  margin-top: 20px;
  color: #777777;
  font-size: 16px;
  line-height: 26px;
  width: 250px;
}

.services__card-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  color: #222222;
  font-family: 'Poppins Extra Light',sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.services__card-more::after {
  content: '\f0da';
  font-family: "FontAwesome";
  margin-left: 5px;
}

.goods {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 204, 0, 0.7)), to(rgba(186, 0, 0, 0))), url(../img/Services/goods-bg.png) no-repeat center;
  background: linear-gradient(to top, rgba(255, 204, 0, 0.7) 0%, rgba(186, 0, 0, 0) 100%), url(../img/Services/goods-bg.png) no-repeat center;
  background-size: cover;
  position: relative;
  min-height: 700px;
}

.goods::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.5;
  z-index: 1;
}

.goods__title i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ba0000;
  font-size: 20px;
  border-radius: 50%;
  background-color: #ffcc00;
  width: 70px;
  height: 70px;
  margin: 50px auto;
  cursor: pointer;
}

.goods__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fff;
  padding-top: 100px;
  font-size: 50px;
  position: relative;
  z-index: 6;
}

.goods-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 410px;
  -webkit-transform: translateY(223px);
          transform: translateY(223px);
}

.goods-box__item {
  background-color: #fff;
  -webkit-box-shadow: 0 10px 18px rgba(191, 191, 191, 0.4);
          box-shadow: 0 10px 18px rgba(191, 191, 191, 0.4);
  padding-bottom: 30px;
}

.goods-box__item-title {
  padding-left: 30px;
  margin-top: 30px;
  font-family: 'Poppins Extra Light',sans-serif;
  font-weight: 600;
  color: #ba0000;
  font-size: 20px;
}

.goods-box__item-category {
  margin-top: 30px;
}

.goods-box__item-category p {
  padding-left: 30px;
  margin: 0;
  margin-top: 10px;
}

.goods-box__item-category p::before {
  content: '\f0da';
  font-family: "FontAwesome";
  margin-right: 5px;
  color: #ffcc00;
}

@media screen and (max-width: 1199px) {
  .services__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services__title-bg {
    font-size: 100px;
  }
  .services__title-front {
    font-size: 25px;
  }
  .services-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services-cards__worldwide {
    margin-top: 20px;
    margin-right: auto;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .services__card {
    margin-top: 20px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .goods {
    padding-bottom: 30px;
  }
  .goods__title {
    font-size: 35px;
  }
  .goods-box {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .goods-box__item {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .services__title-bg {
    font-size: 60px;
  }
  .services__title-front {
    font-size: 20px;
  }
  .services-cards__worldwide {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    margin-top: 20px;
    margin-right: 0;
  }
  .services__card {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-top: 20px;
  }
  .goods__title {
    font-size: 25px;
  }
  .goods-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .goods-box__item {
    margin-top: 20px;
    width: 300px;
  }
  .goods-box__item img {
    width: 300px;
  }
}

.express__contact-us {
  padding-top: 309px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.express-photo {
  position: relative;
}

.express-photo__img {
  background: -webkit-gradient(linear, left bottom, left top, from(#ffcc00), to(rgba(255, 255, 255, 0))), url(../img/contact-us/contact-us__photo.png);
  background: linear-gradient(to top, #ffcc00 0%, rgba(255, 255, 255, 0) 100%), url(../img/contact-us/contact-us__photo.png);
  width: 435px;
  height: 499px;
  position: relative;
  z-index: 6;
}

.express-photo__border {
  position: absolute;
  top: 0;
  -webkit-transform: translate(-35px, -35px);
          transform: translate(-35px, -35px);
  border: 20px solid #ffcc00;
  width: 435px;
  height: 499px;
  z-index: 1;
}

.form {
  max-width: 533px;
}

.form-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-tabs__express, .form-tabs__logistics {
  width: 50%;
  padding: 20px 96px;
  border: none;
  font-family: 'Poppins Extra Light',sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

.form-tabs__express {
  background-color: #ba0000;
  color: #fff;
}

.form-tabs__logistics {
  background-color: #ffcc00;
  color: #ba0000;
  -webkit-box-shadow: 0 10px 18px rgba(255, 204, 0, 0.4);
          box-shadow: 0 10px 18px rgba(255, 204, 0, 0.4);
}

.form-select-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ba0000;
  padding: 40px;
}

.form-select-box__select select {
  width: 100%;
  padding: 20px;
  background-color: #ba0000;
  color: white;
  text-transform: uppercase;
  border: 2px solid;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form-select-box__select {
  position: relative;
  margin-bottom: 20px;
}

.form-select-box__select::after {
  content: '\f078';
  font-family: "FontAwesome";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  margin-right: 5px;
  background-color: #ba0000;
  color: #fff;
  padding: 20px;
  border-left: 2px solid #fff;
  pointer-events: none;
}

@media screen and (max-width: 1199px) {
  .express__contact-us {
    padding-top: 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .express-photo {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .form {
    width: 100%;
  }
  .form-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .form-tabs__express, .form-tabs__logistics {
    padding-left: 15px;
  }
  .form-select-box {
    font-size: 12px;
  }
  .form-select-box__select::after {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.delivery-excellence {
  background-color: #ba0000;
  padding: 100px 0;
  color: #fff;
}

.delivery__description {
  width: 100%;
  max-width: 740px;
}

.delivery-excellence .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.delivery__title {
  color: #fff;
  font-size: 30px;
  margin-bottom: 41px;
  text-transform: uppercase;
}

.delivery__subtitle {
  font-size: 16px;
  letter-spacing: 0.48px;
  line-height: 24px;
}

.delivery__button button {
  padding: 21px 31px;
  color: #fff;
  background-color: #a00000;
  text-transform: uppercase;
  border: none;
  border-radius: 25px;
}

.postwarders {
  padding: 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.postwarders__firm img {
  max-width: 233px;
}

.postwarders__firm {
  padding: 40px 18px;
  border: 2px solid rgba(186, 0, 0, 0.1);
  background-color: #f9f9f9;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.postwarders__firm:first-child {
  border: 2px solid #ba0000;
}

@media screen and (max-width: 1199px) {
  .delivery-excellence .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .delivery__button {
    margin-top: 20px;
  }
  .postwarders {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .postwarders__firm {
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .postwarders {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer {
  margin-bottom: 0;
  padding-bottom: 0;
}

.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-right: 40px solid #ffcc00;
  border-left: 40px solid #ba0000;
}

.footer__logo {
  height: 311px;
}

.footer-menu {
  font-family: 'Poppins Extra Light',sans-serif;
  font-weight: 600;
  margin-right: 10px;
}

.footer-menu__title {
  color: #ba0000;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 40px;
}

.footer-menu__link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__link {
  color: #777777;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__link:hover {
  color: #ffcc00;
}

.footer__link::before {
  content: '\f0da';
  font-family: "FontAwesome";
  margin-right: 5px;
}

.footer_hover-blue .footer__link:hover {
  color: #017edf;
}

@media screen and (max-width: 1440px) {
  .footer-inner {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-menu {
    margin-top: 15px;
  }
  .footer__logo {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .footer-inner {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer-menu {
    margin-left: 20px;
  }
}
/*# sourceMappingURL=style.css.map */