@font-face {
    font-family: 'Museo Slab -500', sans-serif;
    src: url('../fonts/MuseoSlab.eot');
    src: url('../fonts/MuseoSlab.woff') format('woff'),
    url('../fonts/MuseoSlab.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@mixin ralewayB {
    font-family: Raleway;
    font-weight: 700;
}
@mixin ralewaySemiBold {
    font-family: "Raleway - Semi Bold";
}
@mixin museo {
    font-family: 'Museo Slab -500', sans-serif;
    font-weight: 700;
}